<% provide(:title,"Sign in") %>
<h1>Sign in</h1>
<div>
    <%= form_for(:session, url: sessions_path) do |f|%>
        <%= f.label :email %>
        <%= f.text_field :email%>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <p><%= f.submit "Sign in" ,class:"btn" %>
    <% end %>
    If there is no registration, please click the registration link. <a href="<%= signup_path%>">Sign up!</a>
</div>